build/
*.obj
*.exe
*.exp
*.lib
*.idb
*.pdb
*.tlog
*.log
*.res
*.lastbuildstate
dist/ique_home.exe
dist/ique_modern.exe
aulon/dist/*.exe
temp/
debug/
*.dmp
ticket.sys
*.bin
*.z64
system_menu*
roms/
!dist/release/README.txt
!dist/iQueBrew_Ticket_Editor_v1.0.zip
*.app
*.rec
*.sta
*.sys
*.dat
*.dll
node_modules/
gui/node_modules/
